.bar{
    width: 80%;
    height: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: -85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.barfuns{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.barfun{
    font-family: 'Noto Sans TC';
    font-size: large;
    margin: 10px;
    cursor: pointer;
}
.barfun:active{
    color: #f17014;
}
.Sdetail{
    width: 80%;
    height: 65px;
    background-color: #edecece7;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.timebtn{
    width: 65px;
    height: 30px;
    background:none;
    border:none;
    margin:0 10px;
    padding:0;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Noto Sans TC';
}
.Detail{
    width: 80%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 25px;
}